button {
  border-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 11px;
  color: darkgray;
  width: auto;
  margin-top: 5px;
  height: 45px;
}

button:hover {
  color: darkorange;
  border-color: black;
  cursor: pointer;
}

button:active {
  color: darkorange;
  background-color: white;
  margin-top: 0px;
  height: 50px;
}

button:focus {
  color: darkorange;
  background-color: white;
  margin-top: 0px;
  height: 50px;
}
