.footer {
  width: 100%;
  height: 30px;
  background-color: #979696;
  margin-top: 20px;
  font-size: 11px;
  line-height: 10px;
}

.inner-div {
  width: 50%;
  margin: auto;
}

li {
  float: left;
  margin-right: 10px;
}

.right {
  float: right;
  list-style-type: none;
  color: white;
}

.left {
  float: left;
  list-style-type: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
